/*variables*/
$bodyFont: 'Karla', sans-serif;
$headerFont: 'Bungee Shade', sans-serif;
$headerBG: rgba(255, 255, 255, 0.3);
$bodyBG: rgb(29,53,63);
$cardBG: rbga(0, 0, 0, 0.2);

@mixin buttonStyles {
  &:hover {
        cursor: pointer;
        background-color: rgb(255, 255, 255);
    }
  &:focus{
    outline: none;
  }
  background-color: rgb(192, 192, 192);
  border-radius: 5px;
  border-style: none;
}

@mixin inputStyles {
  margin: .5vw;
  border-radius: 5px;
}

@mixin bodyStyles {
  font-family: $bodyFont;
  background: $bodyBG;
  color: white;
  height: 200vh;
  padding-top: .5vmin;
}

@mixin headerStyles {
  font-family: $headerFont;
  background: $headerBG;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vmax;
}

.button {
  @include buttonStyles;
}

input {
  @include inputStyles;
}

// /*header*/

.header {
  @include headerStyles;
}

.title {
  color: white;
  font-size: 50px;
}

// /*jokes*/

.joke-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.joke-card {
  background-color: rgba(0,0,0,0.2);
  color: white;
  padding: 15px;
  margin: 8px;
  display: flex;
  flex-grow: 1;
  max-width: 28%;
  position: relative;
}

.favorites-star {
  border: none;
  background-color: rgba(0,0,0,0);
  font-size: 20px;
  color: white;
  outline: none;
  position: absolute;
  bottom: 0;
  right:0;
  &:hover {
    cursor: pointer;
    color: gold;
 }
}

// joke-input

.jokes-input-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jokes-button {
  width: 16vw;
  height: 5.5vh;
}

.jokes-input {
  flex-direction: row;
  width: 3vw;
  height: 5vh;
}

.favorites-button {
  height: 4vh;
  width: 8vw;
}

// /*main*/

.main {
  @include bodyStyles;
}

.random-joke {
  border: 1px dotted white;
  border-radius: 5px;
  padding: 2vmax;
  width: 80%;
  text-align: center;
  margin-top: 1vh;
  margin: auto;
}

// /*settings*/

.settings-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-input {
  height: 3vh;
}

.set-button {
  height: 3.5vh;
  margin: .75vw;
}

.reset-button {
  height: 3.5vh;
}

.set-controls .explicit-controls {
  display: inline;
  flex-direction: row;
}


// settings button

.settings-button {
  border-radius: 50%;
  border-style: none;
  height: 6vmax;
  width: 6vmax;
  text-align: center;
  font-size: 1vmax;
  position: absolute;
  top: 4vmax;
  right: 5vmax;
  &:hover {
        cursor: pointer;
        background-color: rgb(255, 255, 255);
    }
  &:focus{
    outline: none;
  }
}
